input/Cdb.csv
input/Chdb.csv
input/genomeInformation.csv
input/Bdb.csv
input/genomeInfo.csv
input/Ndb.csv
input/Sdb.csv
input/Wdb.csv
input/Widb.csv
input/faster/Bdb.csv
input/faster/Cdb.csv
input/faster/genomeInfo.csv
input/faster/genomeInformation.csv
input/faster/Ndb.csv
input/faster/Mdb.csv
input/faster/Wdb.csv
input/faster/Sdb.csv
input/faster/Widb.csv
input/faster/Chdb.csv
results/First_clusters_details.xlsx
results/First_clusters_FastRun_details.xlsx
results/First_clusters_RegularRun_details.xlsx
input/best_genomes/best_genome_2.csv
input/best_genomes/best_genome_1.csv
input/cdb_files/Cdb_1.csv
input/cdb_files/Cdb_2.csv
input/genomes_files/genomeInformation_2.csv
input/drep2/Cdb.csv
input/drep2/Chdb.csv
input/drep2/Ndb.csv
input/drep2/Bdb.csv
input/genomes_files/genomeInformation_1.csv
input/drep2/genomeInfo.csv
input/drep2/genomeInformation.csv
input/drep2/Mdb.csv
input/drep2/Sdb.csv
input/drep2/Wdb.csv
input/drep2/Widb.csv
