input/Cdb.csv
input/Chdb.csv
input/genomeInformation.csv
input/Bdb.csv
input/genomeInfo.csv
input/Ndb.csv
input/Sdb.csv
input/Wdb.csv
input/Widb.csv
input/faster/Bdb.csv
input/faster/Cdb.csv
input/faster/genomeInfo.csv
input/faster/genomeInformation.csv
input/faster/Ndb.csv
input/faster/Mdb.csv
input/faster/Wdb.csv
input/faster/Sdb.csv
input/faster/Widb.csv
input/faster/Chdb.csv
results/First_clusters_details.xlsx
results/First_clusters_FastRun_details.xlsx
results/First_clusters_RegularRun_details.xlsx
