input/Cdb.csv
input/Chdb.csv
input/genomeInformation.csv
input/Bdb.csv
input/genomeInfo.csv
input/Ndb.csv
input/Sdb.csv
input/Wdb.csv
input/Widb.csv
input/faster/Bdb.csv
input/faster/Cdb.csv
input/faster/genomeInfo.csv
input/faster/genomeInformation.csv
input/faster/Ndb.csv
input/faster/Mdb.csv
input/faster/Wdb.csv
input/faster/Sdb.csv
input/faster/Widb.csv
input/faster/Chdb.csv
results/First_clusters_details.xlsx
results/First_clusters_FastRun_details.xlsx
results/First_clusters_RegularRun_details.xlsx
input/best_genomes/best_genome_2.csv
input/best_genomes/best_genome_1.csv
input/cdb_files/Cdb_1.csv
input/cdb_files/Cdb_2.csv
input/genomes_files/genomeInformation_2.csv
input/drep2/Cdb.csv
input/drep2/Chdb.csv
input/drep2/Ndb.csv
input/drep2/Bdb.csv
input/genomes_files/genomeInformation_1.csv
input/drep2/genomeInfo.csv
input/drep2/genomeInformation.csv
input/drep2/Mdb.csv
input/drep2/Sdb.csv
input/drep2/Wdb.csv
input/drep2/Widb.csv
results/Clusters_all_table.xlsx
input/genomes_files/genomeInformation_1.csv
input/genomes_files/genomeInformation_2.csv
input/genomes_files/genomeInformation_3.csv
input/genomes_files/genomeInformation_4.csv
input/genomes_files/genomeInformation_5.csv
input/genomes_files/genomeInformation_6.csv
input/genomes_files/genomeInformation_7.csv
input/genomes_files/genomeInformation_8.csv
input/genomes_files/genomeInformation_9.csv
input/genomes_files/genomeInformation_10.csv
input/cdb_files/Cdb_3.csv
input/cdb_files/Cdb_4.csv
input/cdb_files/Cdb_5.csv
input/cdb_files/Cdb_6.csv
input/cdb_files/Cdb_7.csv
input/cdb_files/Cdb_8.csv
input/cdb_files/Cdb_9.csv
input/cdb_files/Cdb_10.csv
input/best_genomes/bins_clusters_2nd_raund.sh
Clusters_table.ipynb
results/fLayer_table.xlsx
input/flayer_bins_list.csv
Clusters_table.ipynb
input/final_Cdb.csv
input/final_best_genomes.csv
results/FINAL_only_best_genomes.xlsx
results/FINAL_only_the_best_genomes_m.xlsx
results/FINAL_all_bins_all_clusters.xlsx
input/gtdbtk.bac120.summary.tsv
FINAL_all_bins_all_clusters.xlsx
FINAL_only_best_genomes.xlsx
FINAL_only_the_best_genomes_m.xlsx
input/only_best_genomes.csv
input/only_the_best_genomes_m.csv
results/only_best_genomes.xlsx
results/only_the_best_genomes_m.xlsx
FINAL_tables/FINAL_all_bins_all_clusters_m.xlsx
FINAL_tables/FINAL_only_the_best_genomes.xlsx
results/!FINAL_all_bins_all_clusters.xlsx
results/!FINAL_only_the_best_genomes_m.xlsx
results/FINAL_TABLE.xlsx
FINAL_tables/!FINAL_only_the_best_genomes_with_2nd_cluster_with_taxa_with_binsNmb.xlsx
FINAL_tables/FINAL_only_the_best_genomes_with_2nd_cluster_with_taxa_with_binsNmb_m.xlsx
FINAL_tables/FINAL_only_the_best_genomes_with_2nd_cluster.xlsx
FINAL_tables/FINAL_only_the_best_genomes_with_2nd_cluster_with_taxa.xlsx
FINAL_tables/FINAL_only_the_best_genomes_with_2nd_cluster_with_taxa_with_binsNmb.xlsx
